<%# Add styling bootstrap head and footer %>
<% include partials/header %>


<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center">Create a new Event</h1>
            <div style="width: 40%; margin: 25px auto;">
                <form action="/allevents" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Name Event">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="genre" placeholder="Genre">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="local" placeholder="Local">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="date" type="date" name="date">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Time" type="time" name="Time">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="image url">
                    </div>

                    <div class="form-group">
                        <div class="input-group-prepend">
                        </div>
                        <textarea class="form-control" name="description" placeholder="Description"
                            aria-label="With textarea"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Create</button>
                    </div>
                </form>
                <a href="/allevents">Go Back</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>