<%# Add styling bootstrap head and footer %>
<% include partials/header %>

<h1>Show Template.. .</h1>

<h7 class="card-title card-header"><%= singlEvent.genre %></h7>



<% include partials/footer %>
