
<%# Add styling bootstrap head and footer %>
<% include partials/header %>

<h1>This is the All Events Page...</h1>

<a href="/allevents/new">Add New Event In Your Town!</a>

<% allEvents.forEach((singlEvent)=> { %>
    <div>
        <h2><%= singlEvent.name %></h2>
        <h3><%= singlEvent.genre %></h3>
        <img src="<%= singlEvent.image %>">        
    </div>
    
<% }); %>

<hr>
<a href="/">Back Home</a>

<% include partials/footer %>
