<%# Add styling bootstrap head and footer %>
<% include partials/header %>

<h1>HOme Page</h1>
<h2>Welcome to FINE 2019</h2>
<p>beta test.. .</p>


<a href="/allevents">View All Events in Town </a>


<%# Add styling bootstrap head and footer %>
<% include partials/footer %>