<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/version_02/public/stylesheets/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google Fony awesome -->       
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sticky-footer/">
    
    <!-- <style>
        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color:grey;
           color: white;
           text-align: center;
        }
        </style> -->
     <title>FINE</title>
  </head>
  <body>

  <!-- Image and text Navbar-->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fliud">
      <a class="navbar-brand" href="/">
        <img src="https://mirrors.creativecommons.org/presskit/icons/remix.png" width="30" height="30"
          class="d-inline-block align-top" alt="">
        FINE AppBetaTest...
      </a>
    </div>

  <!-- Credentials users -->
    <div class="">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

   

   